*

!.github
!.github/**/* 
!public
!src
!src/**/*
!.env.sample
!.gitignore
!.eslint.config.js
!index.html
!LICENSE
!package-lock.json
!package.json
!README.md
!tailwind.config.js
!tsconfig.app.json
!tsconfig.json
!docker-compose.yml
!Dockerfile
!tsconfig.node.json
!vite.config.js