@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
.appear {
    animation: fadein 0.5s;
}
* {
    @apply transition-colors duration-200 ease-linear appear;
}
/* add the code bellow */
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}